  <nav class="flex sticky justify-between items-center w-full top-0 py-4 px-12">
    <h1 class="font-bold flex text-2xl uppercase">Li<p class="text-red-700">Learnv</p></h1>
    <ul class="flex gap-8 font-semibold text-zinc-600">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Courses</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <%= railsbutton_primary("Daftar", root_path) %>
  </nav>